nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 4px;
  margin: 4px 0px;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}